.App {
  text-align: center;
  align-items: center;
}



.header{
  background-color: #fb9761;
}
.main{
  /* display: flex; */
  /* justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px; */
  padding: 10px;
  
}
.movies{
  background-color: rgb(51, 50, 50);
  border: 1px solid;
  color: white;
  padding: 3px;
  font-weight: bold;
  width: 24%;
}
.movie img{
  height: 200px;
  max-width: 100%;
}
.table{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  margin-top: 20px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.textBox{
  min-height: 300px;
  border: 10px solid black;
  background-color: #1976D2;
  padding: 10px;
  margin: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -10px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px;
}
.textData{
        color: white;
        font-size: large;
}
.textInput{
  max-width: 100%;
  column-span: 10;
  border: 2px solid black;
  font-size: large;
  padding: 10px;
  margin-left: 20px;
}

.textBox-input{
  min-height: 100px;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -10px, rgba(0, 0, 0, 0.3) 0px 15px 30px -10px;
}

.bar-correct{
  max-width: 100%;
  height: 10px;
  background-color: green;
  animation-name: example-correct;
  animation-duration: 2s;
}
@keyframes example-correct {
  0%   {background-color: green;}
  25%  {background-color: rgb(12, 186, 26);}
  50%  {background-color: rgb(120, 247, 120)}
  100% {background-color: white;}
}
.bar-incorrect{
  max-width: 100%;
  height: 10px;
  background-color: red;
  animation-name: example-incorrect;
  animation-duration: 2s;
}
@keyframes example-incorrect {
  0%   {background-color: red;}
  25%  {background-color: rgb(254, 56, 56);}
  50%  {background-color: rgb(246, 89, 89)}
  100% {background-color: white;}
}
.timer{
  
  max-width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  
}