.App {
  text-align: center;
  align-items: center;
}



.header{
  background-color: #fb9761;
}
.main{
  /* display: flex; */
  /* justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px; */
  padding: 10px;
  
}
.movies{
  background-color: rgb(51, 50, 50);
  border: 1px solid;
  color: white;
  padding: 3px;
  font-weight: bold;
  width: 24%;
}
.movie img{
  height: 200px;
  max-width: 100%;
}
.table{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  margin-top: 20px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.textBox{
  min-height: 300px;
  border: 10px solid black;
  background-color: #1976D2;
  padding: 10px;
  margin: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -10px, rgba(0, 0, 0, 0.3) 0px 30px 60px -20px;
}
.textData{
        color: white;
        font-size: large;
}
.textInput{
  max-width: 100%;
  column-span: 10;
  border: 2px solid black;
  font-size: large;
  padding: 10px;
  margin-left: 20px;
}

.textBox-input{
  min-height: 100px;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -10px, rgba(0, 0, 0, 0.3) 0px 15px 30px -10px;
}

.bar-correct{
  max-width: 100%;
  height: 10px;
  background-color: green;
  animation-name: example-correct;
  animation-duration: 2s;
}
@keyframes example-correct {
  0%   {background-color: green;}
  25%  {background-color: rgb(12, 186, 26);}
  50%  {background-color: rgb(120, 247, 120)}
  100% {background-color: white;}
}
.bar-incorrect{
  max-width: 100%;
  height: 10px;
  background-color: red;
  animation-name: example-incorrect;
  animation-duration: 2s;
}
@keyframes example-incorrect {
  0%   {background-color: red;}
  25%  {background-color: rgb(254, 56, 56);}
  50%  {background-color: rgb(246, 89, 89)}
  100% {background-color: white;}
}
.timer{
  
  max-width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  
}
.result{
  
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  max-width: 100%;
  height: 40px;
  display: flex;
  
  align-items: center;
  justify-content: space-around;
}




ul{
  position:absolute;
  top:97%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
  
}
ul li{
  list-style:none;
  width:40px;
  height:40px;
  background:#fff;
  border-radius:50%;
  animation:grow 1.6s ease-in-out infinite;
}
  @keyframes grow
  {
    0% , 40% , 100%
    {
      transform:scale(0.2);
    }
    20%{
       transform:scale(1);

    }
  }

ul li:nth-child(1){
  animation-delay:-1.4s;
  background:#ffff00;
  box-shadow:0 0 50px #ffff00;
  
}
ul li:nth-child(2){
  animation-delay:-1.2s;
  background:#76ff03;
  box-shadow:0 0 50px #76ff03;
  
}
ul li:nth-child(3){
  animation-delay:-1s;
  background:#f06292;
  box-shadow:0 0 50px #f06292;
  
}
ul li:nth-child(4){
  animation-delay:-0.8s;
  background:#4fc3f7;
  box-shadow:0 0 50px #4fc3f7;
  
}
ul li:nth-child(5){
  animation-delay:-0.6s;
  background:#ba68c8;
  box-shadow:0 0 50px #ba68c8;
  
}
ul li:nth-child(6){
  animation-delay:-0.4s;
  background:#f57c00;
  box-shadow:0 0 50px #f57c00;
  
}
ul li:nth-child(7){
  animation-delay:-0.2s;
  background:#673ab7;
  box-shadow:0 0 50px #673ab7;
  
}




.cauldron {
  display:block;
  border:1px solid black;
  width: 60px;
  height: 30px;
  border-radius: 0 0 100% 100%;
  position: relative;
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364); 
  transform: scale(1.4);
  
  .cauldron-top {
    width: 60px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    bottom: 24px;
    right: -1px;
    border: 1px solid black;
    background-image: radial-gradient(circle, yellow, orange, black);
    box-shadow: 0px -35px 77px 41px darkorange;
  }
  
  .cauldron-bottom {
    width: 20px;
    height: 5px;
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    position: absolute;
    bottom: -6px;
    right: 20px;
  }
  
  .fire{
    display:block;
    width: 60px;
    height: 60px;
    position: relative;
    top: -68px;
    right: -2px;
    
    .fire-red {   
      background-color: #eb4511;
      background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
      display: block;
      position:absolute;
      height:70px;
      width: 60px;
      clip-path: polygon(55% 34%, 79% 57%, 95% 78%, 79% 100%, 21% 100%, 9% 78%, 23% 57%);
      transition-timing-function: ease-out;
      animation: pulse1 .5s infinite;
      box-shadow: -9px -52px 72px 21px rgba(255,203,47,0.37);
    }
    
     @keyframes pulse1 {
          0% {
            clip-path: polygon(55% 34%, 79% 57%, 95% 78%, 79% 100%, 21% 100%, 9% 78%, 23% 57%);
          }
          50% {
            clip-path: polygon(56% 25%, 79% 54%, 94% 72%, 79% 100%, 21% 100%, 9% 74%, 23% 55%);
          }
          100% {
            clip-path: polygon(57% 0, 83% 41%, 94% 67%, 79% 100%, 21% 100%, 8% 64%, 24% 45%);
          }
      }
    
    .fire-orange {
      bottom: -10px;
      background-color: #f5d020;
      background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
      position: absolute;
      display: block;
      height:50px;
      width:60px;
      clip-path: polygon(41% 45%, 65% 65%, 78% 80%, 70% 100%, 27% 100%, 14% 78%, 25% 65%);
      transition-timing-function: ease-out;
      animation: pulse2 .3s infinite;
    }
    
     @keyframes pulse2 {
         0% {
            clip-path: polygon(41% 45%, 65% 65%, 78% 80%, 70% 100%, 27% 100%, 14% 78%, 25% 65%);
          }
         50% {
            clip-path: polygon(45% 33%, 66% 56%, 79% 71%, 70% 100%, 27% 100%, 15% 74%, 23% 58%);
          }
          100% {
            clip-path: polygon(47% 24%, 68% 51%, 80% 65%, 70% 100%, 27% 100%, 15% 71%, 23% 53%);
          }
      }
    
     .fire-yellow {
      bottom: -10px;
      position: absolute;
      background-color: #ef5734;
      background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
      display: block;
      height:40px;
      width:60px;
      clip-path: polygon(81% 56%, 80% 73%, 80% 88%, 64% 100%, 36% 100%, 27% 83%, 37% 71%);
      transition-timing-function: ease-out;
      animation: pulse3 1s infinite;
    }
    
    @keyframes pulse3 {
          0% {
            clip-path: polygon(47% 52%, 66% 67%, 73% 83%, 64% 100%, 36% 100%, 28% 85%, 34% 69%);
          }
         50% {
            clip-path: polygon(54% 45%, 66% 65%, 72% 84%, 64% 100%, 36% 100%, 31% 85%, 33% 68%);
          }
          100% {
            clip-path: polygon(44% 43%, 61% 60%, 72% 82%, 64% 100%, 36% 100%, 29% 88%, 33% 70%);
          }
      }
    
  
  }

}





/* CSS */
.button-87 {
  margin: 5px;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.board-top{
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: orange;
  background-color: #1976D2;
  padding: 15px;
}
@import url(https://fonts.googleapis.com/css?family=Akronim);

body {
    background: #ca8;
}

.fire {
	margin: 15px auto;
	
	max-width: 100%;
	height: 150px;

	background-position: center center;
	background-size: 500px 200px;
	border-radius: 10px;
	font-family: 'Akronim';
	overflow: hidden;
    text-align: center;
	vertical-align: middle;

}
.fire:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.Blazing {
	display: inline-block;
	margin: 0;

    color: rgb(255, 115, 0);
    font-size: 65px;
	line-height: 20px;
	min-width: 50px;
	outline: none;
	vertical-align: middle;
    
	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}
@media screen and (max-width: 480px) {
  .fire {
    margin: 10px auto;
    
    max-width: 100%;
    height: 100px;
  
    background-position: center center;
    background-size: 500px 200px;
    border-radius: 10px;
    font-family: 'Akronim';
    overflow: hidden;
      text-align: center;
    vertical-align: middle;
  
  }
  .Blazing {
    display: inline-block;
    margin: 0;
  
      color: rgb(255, 115, 0);
      font-size: 40px;
    line-height: 20px;
    min-width: 50px;
    outline: none;
    vertical-align: middle;
      
    text-shadow:
          0 3px 20px red,
          0 0 20px red,
      0 0 10px orange,
      4px -5px 6px yellow,
      -4px -10px 10px yellow,
      0 -10px 30px yellow;
    animation: 2s Blazing infinite alternate linear;
  }
}


@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}